@import '../../../../utils/variables';

.list-item {
  margin-bottom: 20px;
  font-size: 16px;
  display: grid;
  grid-template-columns: 1fr 4fr repeat(5, 1fr);
  border-bottom: 2px solid $mainTextColor;
}

.name, .date, .size, .control-btn {
  align-self: center;
}
.name {
  grid-column-start: 2;
}

.control-btn, img.file-type-img {
  cursor: pointer;
}