.wrapper {
  position: relative;
}

.form {
  position: absolute;
  top: 25%;
  left: 50%;
  width: 40%;
  padding: 25px 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  background: #FFFFFF;
  border-radius: 27px;
  transform: translate(-50%, 50%);

  & > h2 {
    margin-bottom: 20px;
  }

  & > input {
    margin-bottom: 25px;
    width: 80%;
    padding: 5px;
    border-top: unset;
    border-left: unset;
    border-right: unset;
    border-bottom: 3px solid #566885;
    color: rgb(86, 104, 133);

    &::placeholder {
      color: rgba(86, 104, 133, 0.6);
    }

    &, &::placeholder {
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 21px;

    }
  }

  & > button {
    padding: 10px 25px;
    font-size: 16px;
    color: #fff;
    border: unset;
    background: #566885;
    border-radius: 12px;
  }
}